<div class="container">
    <div class="title">
        Hamburgueria CI&T
    </div>
    <div class="content">
        <div class="opcoes">
            <button mat-raised-button color="primary" (click)="openIngredientes()">Lista de Ingredientes</button>
        </div>
        <div class="opcoes">
            <button mat-raised-button color="primary" (click)="openHamburgerAssembly()">Montar Hamburguer</button>
        </div>
    </div>
    <div style="text-align: center; width: 100%; padding-top: 15px ;">
        <app-historico-pedidos [listPedidos]="listPedidos"></app-historico-pedidos>
    </div>
</div>
