.container{
    flex: auto;
    width: 100%;
}

.title{
    text-align: center;
    font-size: 30px;
    padding: 40px;

}

.content{
    border: 1px red !important;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.opcoes{
    padding: 20px;
}

.versionRSC{
    font-family: Arial, Tahoma, Sans-serif;
    color: rgba(22.0, 22.5, 30.6);
    position: relative; 
    top: -0.7em; 
    font-size: 70%;
    font-weight: bold;
    //border: 1px  rgba(22.0, 22.5, 30.6) solid; 
    border-radius: 10px;
    padding: 5px 5px 0px 5px;
  }