<div class="modalTilte">
    Lista de Ingredientes
</div>
<div style=" height: 250px; overflow-y: auto;">
    <table style="padding-bottom: 20px; width: 100%;">
        <tr *ngFor="let ingrediente of listaIngredientes">
            <td style="padding-right: 15px;">
                {{ingrediente.ingrediente}}
            </td>
            <td>
                <button mat-mini-fab (click)="rmIngredienteToList(ingrediente.ingrediente)"
                    disabled="{{ingrediente.default}}">
                    <mat-icon style="cursor: pointer;">delete</mat-icon>
                </button>
            </td>
        </tr>
    </table>
</div>

<div>
    <mat-form-field class="example-full-width" appearance="fill" style="padding-right: 15px;">
        <mat-label>Ingrediente</mat-label>
        <input matInput placeholder="Ex. Pizza" [formControl]="ingredienteForm">
        <mat-error *ngIf="ingredienteForm.hasError('required')">
            Ingrediente é <strong>obrigatório</strong>
        </mat-error>
    </mat-form-field>
    <button mat-raised-button color="primary" (click)="add()" [disabled]="!ingredienteForm.valid" >Adicionar</button>
</div>

<div style="width: 100%">
    <button mat-button (click)="fechar()" style="float: right;" >Fechar</button>
</div>